.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif; /* Use the Poppins font */
  position: relative; /* Ensure positioning is relative for z-index stacking */
  z-index: 10; /* Ensure it's above the background animation */
}

/* Styling for the authentication card */
.auth-card {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  width: 350px;
  max-width: 90%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.auth-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

/* Input styling */
.input-group {
  margin-bottom: 1.5rem;
  position: relative;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus {
  border-color: #007bff;
  outline: none;
}

/* Error message styling */
.error {
  color: #e63946;
  font-size: 0.85rem;
  top: 100%;
  left: 0;
  margin-top: 0.2rem;
}

/* Authentication message styling */
.auth-message {
  margin-top: 1rem;
  text-align: center;
}


/* Button styling */
button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-3px);
}

/* Navigation link styling */
.navigation-link {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #555;
}

a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}
